@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    --modal-radius: 20px
}

p {
    text-align: justify;
}

.content {
    margin: 0 auto;
    max-width: 900px;
    background-color: #eee;
    padding: 10px;
}

.btn {
    background-color: rgb(33, 156, 70);
    padding: 5px 10px 5px 10px;
    border: 2px solid rgb(4, 92, 30);
    cursor: pointer;
    transition: background .3s;
    border-radius: 5px;
    color: #FFF;
}

.btn:hover {
    background-color: rgb(4, 92, 30);
}

.btn:active {
    background-color: rgb(129, 255, 166);
    color: rgb(4, 92, 30);
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    padding: 8px;
    
}

.modal-content {
    margin: 0px auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #61e1ca;
    padding: 0;
    box-shadow: 0 0 2px #fff;
    border-radius: var(--modal-radius);
}

.modal-header h1{
    font-weight: bold;
    text-align: center;
}

.modal-header, .modal-body, .modal-footer{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header{
    background-color: #ccc;
    border-radius: var(--modal-radius) var(--modal-radius) 0px 0px;
}

.modal-footer{
    /* background-color: #61e1ca;  */
    filter: brightness(1.15);
    border-radius: 0px 0px var(--modal-radius) var(--modal-radius);
}

.modal-body .typesDetail {
    padding: 0;
    margin: 0;
    list-style: none;   
    display: flex; 
}

.modal-body .typesDetail .type {
    
    background-color: #61e1ca;
    color: white;
    padding: 0.25rem 1rem;
    margin: 0.2rem 3px 0.2rem 3px;
    font-size: 0.8rem;
    border-radius: 1rem;
    text-align: center;
    filter: brightness(1.15);
}

.modal-body .sub-header {
    text-shadow: black 0.1em 0.1em 0.2em;
    color: white;
    width: 100%;
    /* padding: 0px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.modal-body .sub-header .content-sub-header{
    padding: 2px 4px 2px 4px;
}

.modal-body .sub-header .content-sub-header .sub-title {
    margin: 3px;
    text-transform: capitalize;
}

#imgModal {
    width: 100%;
    text-align: center;    
    margin: -18px;
}