/* Style the tab */

.tab-container {
  /* border: 1px solid; */

}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 15px 15px 0 0;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: #f1f1f1;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 13px;
  width: 33.3333%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 2px 3px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: white;
}

.lista-col {
  display: flex;
  flex-direction: row;
  align-items: center;  
}

.lista-col .lista-titulo {
  /* background-color: greenyellow; */
  width: 120px;
  font-weight: bold;
  color: #a3a2a2;
  margin: 5px;
  font-size: 13px;  
}

.lista-col .lista-conteudo {
  /* background-color: dodgerblue; */
  width: 80%;
  font-size: 12px;  
}